# Path to Docker container logs on the host.
# Standard Docker:
# DOCKER_CONTAINERS_PATH=/var/lib/docker/containers
# Snap Docker:
# DOCKER_CONTAINERS_PATH=/var/snap/docker/common/var-lib-docker/containers
DOCKER_CONTAINERS_PATH=/var/lib/docker/containers
